body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b5fff;
    padding: 3px 5px;
    z-index: 1000;
}

.logo {
    display: inline-block;
    
}

.logo img {
    width: 150px; 
    height: auto;
    align-items: center;
}

.main-login{
    width: 100 vw;
    height: 100 vh;
    background: #0b5fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #ffffff;
    font-size: 3vw;
}

.left-login-image {
    width: 25vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 30px #272833;
}

.card-title > h1{
    color: aliceblue;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #b1d1dd;
    color: #000000de;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #232833;
    margin: 10px;
}

.textfield > input::placeholder{
    color: #232833;
}

.password-redefinir{
    padding: 2px 2px;
    margin: 1px;

}

.btn-login{
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #0b5fff;
    cursor:pointer;
    box-shadow: 0px 10px 40px -12px #28349e;
    transition: background-color 0.1s ease;
}

.btn-login:hover {
    background-color: #000742;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vh;
    }
    .card-login{
        width: 90%;
    }
    nav{
        width: auto;
    }
}
