body{
    background-color:#ffffff;
    margin: 0;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 3px 5px;
  z-index: 1000;
  box-shadow: 0px 1px 5px;
}
.logo {
  display: flex;
  flex-grow: 1; /* Ocupa o espaço restante */
  justify-content: center; /
  
}

.logo img {
  width: 150px; 
  
  height: auto;
  align-items: center;
}

.titulopage{
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: initial; 
  align-items: center;
  margin-left: 500px;
  padding: auto;
}
.back-button {
  margin-left: 0px;
  border: none;
  border-radius: 10px;
  padding: 9px;
  background: #0b5fff;
  color: #ffffffde;
  font-size: 12pt;
  outline: none;
  box-sizing: initial;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.back-button:hover{
  background-color: #2b369b;
}
.conteiner{
  display: center;
  justify-content: center;
  align-items: center;
}
.card {
  width: 92%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px; /* Adicionando bordas redondas */
  margin:30px; /* Reduzindo a distância entre os cards */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #f1f0f1;
  border-left: 3px solid #4895ff;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.card p {
  color: #3f3f42;
  font-size: 16px;
}
.cardimage{
  float: right;
  max-width: 64px;
  max-height: 64px;
}
.card-button{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #0b5fff;
    color: #ffffffde;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.card-button:hover{
  background-color: #2b369b;
}
@media only screen and (max-width: 950px){
  .card{
      width: 85%;
  }
}
@media only screen and (max-width: 600px){
  .container{
      flex-direction: column;
  }
  .titulopage{
      display: none;
  }
  .card{
      width: 90%;
  }
  .nav{
      width: auto;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}